<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Verification</title>
</head>
<body>
  <h1>Email Verification</h1>
  <p>We have received a sign up attempt with the following code. Please enter it in the OTP field where you started signing up for Smart Task</p>
  <br/>
  <h2 style="background-color: #A5CCEB;">{{verification_code}}</h2>
  <br/>
  <p>If you did not attempt to sign up but received this email, please disregard it. The code will remain active for {{expiryMinutes}} minute.</p>
</body>
</html>
