<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Expiration</title>
</head>
<body>
  <h1>Your task will expire soon</h1>
  <p>Your "{{task_name}}" task will expire soon. Remember to do it !</p>
  <br/>
  <p>Your task expires on: {{expiration_date}}.</p>
</body>
</html>
